<div class="task-item">
    <input [style.display]="this.editing? 'block' : 'none'" class="form-control" type="text" [(ngModel)]="task.title" (keyup.enter)="this.onChange()" #inputEdit>
    <input *ngIf="!this.editing" class="task-item-state check-circle" type="checkbox" [(ngModel)]="task.completed" (change)="onChange()" [ngClass]="{'is-active': task.completed}">
    <span *ngIf="!this.editing" class="task-item-title" [ngClass]="{'is-completed': task.completed}" (dblclick)="editTask(inputEdit)">{{ task.title }}</span>
    <span *ngIf="!this.editing" class="task-delete icon-close" (click)="onDeleteTask()"></span>
</div>