.task-item {
    display: flex;
    align-items: center;
    background-color: inherit;
    padding: calc(.5rem + 10px) 10px;
    border-bottom: 1px solid lightgray;
}

.task-item .task-item-title {
    width: calc(100% - 25px);
    font-size: 30px;
    font-weight: lighter;
    word-break: break-word
}

.task-item input[type=checkbox] {
    height: 25px;
}
.task-item input[type=checkbox],
.task-item .task-item-title {
    display: inline-flex;
    align-items: center;
    text-align: left;
}

.task-item .task-item-title {
    margin-left: 1rem;
}

.task-item .task-item-title.is-completed {
    text-decoration: line-through;
    opacity: .4;
}

.task-delete {
    display: inline-flex;
    align-items: center;
    color: slategrey;
    cursor: pointer;
    opacity: .3;
}

.task-delete:hover {
    opacity: 1;
}