.todo {
    background-color: white;
    padding: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo-tasks {
    list-style: none;
    padding: 0;
}

.todo-input-group {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.todo-input-group .form-control,
.todo-input-group .input-group-prepend button {
    border-radius: 0;
    border: 0;
}

.todo-input-group .form-control::-webkit-input-placeholder {
    color: lightblue;
}

.todo-side-l {
    display: flex;
    align-items: center;
    padding: .5rem 0;
}