<div class="bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12 pt-4">
                <h1 class="text-center mb-4">Lista de tareas</h1>
                <div class="todo">
                    <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
                        <div class="todo-input-group">
                            <div class="todo-side-l">
                                <input type="checkbox" class="check-circle" [formControl]="newTaskForm.controls['toggleCheck']" #inpuCheck (change)="checkAll(inpuCheck)" [ngClass]="{'is-active': newTaskForm.controls['toggleCheck'].value}">
                            </div>
                            <input type="text" class="form-control form-control-lg" placeholder="¿Qué necesitas hacer?" aria-label="" aria-describedby="basic-addon1" [formControl]="newTaskForm.controls['titleTask']">
                        </div>
                    </form>
                    <ul class="todo-tasks">
                        <li *ngFor="let task of tasks">
                            <task-item [task]="task" (changeTask)="onChangeTask(task)" (deleteTask)="onDeleteTask(task)"></task-item>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-center">Todos: {{ this.tasks.length }}</div> -->
    </div>
</div>