@font-face {
  font-family: 'fonticon';
  src:  url('fonts/fonticon.eot?x27n1m');
  src:  url('fonts/fonticon.eot?x27n1m#iefix') format('embedded-opentype'),
    url('fonts/fonticon.ttf?x27n1m') format('truetype'),
    url('fonts/fonticon.woff?x27n1m') format('woff'),
    url('fonts/fonticon.svg?x27n1m#fonticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fonticon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e904";
}
.icon-close2:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e90a";
}
.icon-check2:before {
  content: "\e90b";
}
.icon-arrow-down-a:before {
  content: "\e900";
  color: #6d6d6d;
}
.icon-arrow-left-a:before {
  content: "\e901";
  color: #6d6d6d;
}
.icon-arrow-right-a:before {
  content: "\e902";
  color: #6d6d6d;
}
.icon-arrow-up-a:before {
  content: "\e903";
  color: #6d6d6d;
}
.icon-arrow-down-b:before {
  content: "\e907";
}
.icon-arrow-left-b:before {
  content: "\e908";
}
.icon-arrow-right-b:before {
  content: "\e90d";
}
.icon-arrow-top-b:before {
  content: "\e90e";
}
.icon-menu:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e909";
}
