@import "variables"

@font-face
  font-family 'fonticon'
  src url(icomoon-font-path + '/fonticon.eot?x27n1m')
  src url(icomoon-font-path + '/fonticon.eot?x27n1m#iefix') format('embedded-opentype'), url(icomoon-font-path + '/fonticon.ttf?x27n1m') format('truetype'), url(icomoon-font-path + '/fonticon.woff?x27n1m') format('woff'), url(icomoon-font-path + '/fonticon.svg?x27n1m#fonticon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'fonticon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-close
  &:before
    content icon-close
.icon-close2
  &:before
    content icon-close2
.icon-check
  &:before
    content icon-check
.icon-check2
  &:before
    content icon-check2
.icon-arrow-down-a
  &:before
    content icon-arrow-down-a  
    color #6d6d6d
.icon-arrow-left-a
  &:before
    content icon-arrow-left-a  
    color #6d6d6d
.icon-arrow-right-a
  &:before
    content icon-arrow-right-a  
    color #6d6d6d
.icon-arrow-up-a
  &:before
    content icon-arrow-up-a  
    color #6d6d6d
.icon-arrow-down-b
  &:before
    content icon-arrow-down-b
.icon-arrow-left-b
  &:before
    content icon-arrow-left-b
.icon-arrow-right-b
  &:before
    content icon-arrow-right-b
.icon-arrow-top-b
  &:before
    content icon-arrow-top-b
.icon-menu
  &:before
    content icon-menu
.icon-search
  &:before
    content icon-search

