/* You can add global styles to this file, and also import other style files */

@import url('assets/fonticon/style.css');
body {
    font-size: 16px;
    background-color: aliceblue;
}

input {
    border-radius: 0;
}

input:focus,
button:focus {
    box-shadow: none !important;
}

input[type=checkbox].check-circle:focus {
    outline: 0;
}

input[type=checkbox].check-circle {
    -webkit-appearance: unset;
    display: inline-flex;
    height: 25px;
    min-width: 25px;
    width: 25px;
    border: 1px solid lightgray;
    margin-right: 10px;
    border-radius: 100%;
    cursor: pointer;
}

input[type=checkbox].check-circle.is-active::after {
    content: "\e90b";
    height: 25px;
    width: 25px;
    display: inline-block;
    font-family: 'fonticon' !important;
    color: dodgerblue;
    text-align: center;
    border: 1px solid dodgerblue;
    border-radius: 100%;
}

.form-control {
    border-radius: 0;
    font-size: 30px;
    font-weight: lighter;
}